//output:consulting.html

body
.consulting-page
  .consulting
    .disruptive Building Businesses with Disruptive Brands

  .stories
    .story-lockup
      img
      .story
    .story-lockup
      img
      .story
    .story-lockup
      img
      .story

  .testimonials
    .testimonial-quote
    .testimonial-quote
    .testimonial-quote
    
  .building
    .row
      .col-xs-offset-1.col-xs-3
        .icon-block
          .icon.fa.fa-gears
          .icon-title STRATEGY
          .icon-copy From business to brand strategy, we partner with you to develop solutions that increase your impact and profitability.
      .col-xs-4
        .icon-block
          .icon.fa.fa-map-signs
          .icon-title CREATIVE DIRECTION
          .icon-copy Our award winning team seamlessly translates your vision into compelling visual content and copy that connects.  
      .col-xs-3
        .icon-block
          .icon.fa.fa-users
          .icon-title TRAINING
          .icon-copy Engaging mission-driven training solutions, we work with your team to build a strong culture around your brand. 
          
  .get-branded
