//output:index.html


doctype html

html

head
  meta(name="author", content="Lady Rebranded")
  meta(name="description", content="be|brand|do")
  script(src="bower_components/jquery/dist/jquery.js")
  script(src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js")
  //script(rel='stylesheet' src="./bower_components/bootstrap/dist/js/bootstrap.min.js")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")

  link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", rel="stylesheet")
  link(href="./styles.min.css", rel="stylesheet")

  script(type="text/javascript", src="app.js")
  title Lady Rebranded

.container-fluid

   
  header
    nav
      img.logo(src='https://s3-us-west-2.amazonaws.com/lady-rebranded/LRB_B_red_magenta-01.png')
      img.logo(src='https://s3-us-west-2.amazonaws.com/lady-rebranded/LRB_C_red_magenta.jpg')
      ul
        li Events  |
        li Inspiration  |
        li Our Story   
    .row
      .col-xs-offset-1.col-xs-4
        h1.disruptive Building Businesses with Disruptive Brands.
        h1.tagline Be. Brand. Do.
        sup TM
        h1.commercial Play Video
        h1.branded Get Branded

  body
    .gray
  
    .mission
      h3 We empower women influencers, creators and entrepreneurs to build authentic, breakthrough brands. Understanding the challenges that women entrepreneurs and leaders face, we provide solutions that help women owned businesses and businesses where women lead to develop, grow and succeed.
    .gray
      
    .photo-breather
    .our-approach
      .box
        .row
          .col-xs-offset-2.col-xs-2
            .line
          .col-xs-4
            h1 OUR APPROACH
          .col-xs-2
            .line      
        .row
          .col-xs-offset-1.col-xs-3
            .icon-block
              .icon.fa.fa-gears.fa-3x
              h2 STRATEGY
              h4 From business to brand strategy, we partner with you to develop solutions that increase your impact and profitability.
          .col-xs-4
            .icon-block
              .icon.fa.fa-map-signs.fa-3x
              h2 CREATIVE DIRECTION
              h4 Our award winning team seamlessly translates your vision into compelling visual content and copy that connects.  
        
          .col-xs-3
            .icon-block
              .icon.fa.fa-users.fa-3x
              h2 TRAINING
              h4 Engaging mission-driven training solutions, we work with your team to build a strong culture around your brand. 
        .row
          .col-xs-offset-4.col-xs-4
            h1.learn Learn More 
            
    .photo-one
      .blue
      
    .jumpstart
      .row
        .col-xs-offset-1.col-xs-10
          .box
            .row
              .col-xs-3
                .line
              .col-xs-6
                h1 JUMPSTART
                h1.her HER
              .col-xs-3
                .line
            .blurb 
              h2 A globally accessible, comprehensive network that provides women entrepreneurs with resources and a community to grow their businesses. 
            .row
              .icon-row
                .col-xs-4
                  .icon-block
                    .icon.fa.fa-calendar-check-o.fa-3x
                    h3.events EVENTS
                    h4 From live masterclasses to webinars, join us for empowering experiences to help you build your business.
                .col-xs-4
                  .icon-block
                    .icon.fa.fa-laptop.fa-3x
                    h3.resources RESOURCES
                    h4 Relevant curated development resources for our growing online community of influencers, creators and entrepreneurs. 
                .col-xs-4
                  .icon-block
                    .icon.fa.fa-book.fa-3x
                    h3.curriculum GUIDED CURRICULUM
                    h4 E-Books, Worksheets and Online Courses for entrepreneurs and leaders.
            .access GET ACCESS
    .photo-two
    .gray  
    .daily-quote  
      .row
        .col-xs-offset-1.col-xs-1
          //.fa.fa-quote-left.fa-4x
        .col-xs-8
            //change quote here
            .quote "The best time to plant a tree was 20 years ago. The second best time is now." - Chinese proverb
        .col-xs-1
          //.fa.fa-quote-right.fa-4x
    .gray
    //.promo Starting a business? Advancing in your career? Trying to find balance throughout it all? We know it can be a challenge. Join us every week for fresh inspiration, relevant how-tos and the confidence boosters you need to take your life to the next level.

    .inspiration
      .row
            
        .col-xs-6
          .headshot
            img(src='https://s3-us-west-2.amazonaws.com/lady-rebranded/RachelDNewHeadshot_2017_2.png')
          .ceo 
            h2 Rachel D. Wilson 
            h2 CEO & Principal Consultant
          .branded 
            h1 GET BRANDED
            
        .col-xs-6
          .blog
            .blog-photo
              img(src='	https://s3-us-west-2.amazonaws.com/lady-rebranded/blog/laptop-lr.jpg')
            .blog-text
              h1 5 Overlooked Strategies for Recruiting New Business
              i Affirmation: I am open to pursuing new methods to making a connection with potential clients.
              p Fear of the unknown often holds us back in various avenues of our lives, and it certainly plays a role in a developing brand. At times, we are so afraid of failure that we limit ourselves by trying nothing new.  But the greatest lessons are learned as we “fail forward,” try new methods and walk in courage.
              em 1. The Incentive Referral
              p While many of us certainly ask our clients to refer our brands to their friends and colleagues we sometimes forget to incentivize the action. For example, by offering 15 percent off to the current client on future endeavors and 15-20% off to their referral, customers are even more eager to share your brand. By doing so, you not only show your appreciation to your client but also your value of continual relationship building beyond the first experience.
              em 2. LinkedIn, Freelancer & More
              p We know that social media can already feel like a third job. But sites such as LinkedIn, Freelancer and Upwork allow brands to make a connection with potential clients that are actively seeking services. By setting up a profile and sending minor proposals we open up the door to clients who are currently (and openly) in need.
            .blog-footer
    
    .gray          
    .shop
      .row
        .col-xs-3
          .line
        .col-xs-6
          h1 INSPIRATIONAL RESOURCES 
        .col-xs-3
          .line
      .row
        .col-xs-offset-1.col-xs-4
          .inspo Fresh inspiration every week to keep you inspired, confident and motivated!
          .inspo Get this weekly inspo delivered to straight to your inbox
          
        .col-xs-offset-1.col-xs-4
          img.journal-pic(src='https://s3-us-west-2.amazonaws.com/lady-rebranded/journal-one.jpg')
          .journal-copy Starting a business? Advancing in your career? Want to shift your life? Find balance using tools to help you create your best life with our inspirational journal!
          
      .row
        .col-xs-offset-1.col-xs-4
          .subscribe SUBSCRIBE
        .col-xs-offset-1.col-xs-4
          .order-now ORDER NOW
    .gray
      
  footer
    .buffer
    .contact-box
      .buffer-two
      .row
        .col-xs-2
          .social-lockup    
            .social
              a(href='')
                .fa.fa-youtube.fa-2x
            .social
              a(href='')
                .fa.fa-soundcloud.fa-2x
      
        .col-xs-5
          h2 LADY Rebranded, LLC. All Rights Reserved © 
        .col-xs-2
          .contact Contact Us: 
          .contact 555 W. 5th Street FL 35 Los Angeles, CA 90013    +1 (213) 328-7494                   

        .col-xs-2
          h3.subscribe Subscribe
        
      .buffer-two
  //script(src="bower_components/angular-animate/angular-animate.js")
  //script(src="bower_components/angular-route/angular-route.js")
  //script(src="bower_components/angular-cookies/angular-cookies.js")
  //script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
  //script(src="bower_components/moment/min/moment.min.js")
  //script(src="bower_components/angular-validation/dist/angular-validation.js")
  //script(src="bower_components/angular-validation/dist/angular-validation-rule.js")
  //script(src="PlayController.js")
