//variables
$lr-blue: #2f2bad
$lr-purple: #ad2bad
$lr-gray: #afb0b2
$lr-pink: #f71568
$lr-red: #e42692
$lr-yellow: #ffd100
$dark-gray: #686868
$title-size: 4vw
$body-font: futura
$title-font: sans-serif



//mixins
=button-shadow
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
  background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)

=wide-button
  margin-bottom: 40px
  margin-top: 30px
  font-size: 2vw
  padding: 10px
  color: #fff
  background-color: #2f2bad !important
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
  background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
  border-radius: 5px
  font-family: $title-font
  &:hover
    cursor: pointer
    background-color: $lr-gray !important
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
    background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
    color: $lr-blue
    letter-spacing: 3px
    transition: all 1s ease-in
  transform: translateY(-20px)
  opacity: 0
  &.slide-up
    opacity: 1
    font-size: 4vw
    transform: translateY(0px)
    transition: all 1.6s ease-in-out

=icon-block
  transform: translateX(-20px)
  opacity: 0
  &.is-showing
    opacity: 1
    transform: translateX(0px)
    transition: all .8s ease-in
  .icon
    margin-right: 5%
    margin-bottom: 7px
    width: 8vw
    height: 8vw
    border: solid $lr-blue 2px
    border-radius: 50%
    padding: 1.8vw
    color: $lr-blue
  .fa
    font-size: 4vw
  .icon-title
    font-size: 2vw
    color: $lr-pink
    font-family: $title-font
  .icon-copy
    font-size: 1.5vw
    padding: 10px
    font-family: $body-font
    color: $dark-gray

// styles

*
  margin: 0
  padding: 0

.container-fluid
  padding: 0
  margin: 0
  .line
    margin-top: 40px
    height: 1px
    background-color: rgba(47, 43, 173, 1)
  .title
    text-align: center
    color: $lr-blue
    padding-top: 20px
    font-family: $title-font
    font-size: 3.6vw
    margin-bottom: 50px

header

  nav
    z-index: 200
    position: fixed
    min-width: 100%
    min-height: 60px
    &.scrolling
      background-color: rgba(0, 0, 0, .6)
      transition: all 1s ease-in-out
    .logo
      height: 60px
      width: auto
      float: left
      &:hover
        cursor: pointer
    ul
      margin-top: 15px
      margin-right: 10px
      float: right
      li
        display: inline-block
        list-style-type: none
        float: left
        padding: 5px
        a
          font-size: 16px
          font-family: sans-serif
          color: $lr-gray
          &:hover
            color: $lr-pink
            cursor: pointer
            text-decoration: none


body
  .home-page
    //display: none
    position: relative
    text-align: center

    .top-page
      height: 100vh
      background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/home/lioness.jpg') no-repeat center center fixed
      -webkit-background-size: cover
      -moz-background-size: cover
      background-size: cover
      @media screen and (min-width: 400px) and (max-width: 1024px)
        max-height: 100vh
        width: 100%
        background: url('	https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/home/lioness.jpg') no-repeat center center
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
      @media screen and (max-width: 399px)
        max-height: 100vh
        width: 100%
        background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/home/mobile/LR-lioness-mobile.jpg') no-repeat center center
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover

      //.video-lockup
        display: none
        width: 80vw
        height: 45vw
        margin: 10vw
        .fa-times
          position: absolute
          width: 30px
          margin-top: 2vw
          margin-left: 72vw
          color: $lr-gray
          font-size: 3vw
          &:hover
            cursor: pointer
            color: $dark-gray
        iframe
          width: 75vw
          height: 42vw
          padding: 5vw
          border-radius: 5px
      .header-copy
        h1
          text-align: left
          font-size: 2.5vw
          font-family: $title-font
          position: relative
          color: $lr-pink
          margin-bottom: 50px
        .disruptive
          font-size: 3vw
          margin-top: 40%
          font-family: $title-font
        //.commercial
          margin-top: 20%
          margin-bottom: 10%
          font-family: $title-font
          text-align: center
          padding: 10px
          color: $lr-gray
          width: 20vw
          border-radius: 5px
          font-size: 3vw
          border: solid $lr-gray 3px
          opacity: .6
          &:hover
            opacity: 1
            color: #fff
            border-color: $lr-pink
            background-color: $lr-pink
            cursor: pointer
            transition: all .5s ease-in-out
        .learn
          margin-bottom: 40%
          font-size: 2.6vw
          font-family: $title-font
          color: #fff
          width: 25vw
          border-radius: 5px
          background-color: $lr-blue !important
          +button-shadow
          padding: 25px 5px
          text-align: center
          &:hover
            background-color: $lr-gray !important
            +button-shadow
            color: $lr-blue
            cursor: pointer
            letter-spacing: 3px
            transition: letter-spacing 1s ease-in-out

    .photo-breather
      height: 60vh
      background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/home/breather-pic.jpg') no-repeat center center fixed
      -webkit-background-size: cover
      -moz-background-size: cover
      background-size: cover
      @media screen and (min-width: 481px) and (max-width: 1024px)
        width: 100%
        max-height: 40vh
        background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/home/breather-pic.jpg') no-repeat center center
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
      @media screen and (max-width: 480px)
        width: 100%
        max-height: 40vh
        background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/home/mobile/breather-pic-mobile.jpg') no-repeat center center
        -webkit-background-size: contain
        -moz-background-size: contain
        background-size: contain

    .mission
      //height: 30vh
      h2
        color: $lr-blue
        line-height: 2
        font-size: 3.5vw
        font-family: $body-font
        width: 88%
        margin-left: 6%
        margin-top: 30px
        margin-bottom: 30px

    .our-approach
      .box
        border-radius: 5px
        margin-left: 12%
        margin-right: 12%
        margin-top: 20px
        margin-bottom: 20px
        .icon-block
          +icon-block
        a
          text-decoration: none
          .learn
            +wide-button

    .photo-one
      height: 300px
      background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/home/arms-around-backs.jpg') no-repeat center center fixed
      background-size: cover
      -webkit-background-size: cover
      -moz-background-size: cover
      @media screen and (min-width: 400px) and (max-width: 1024px)
        max-height: 40vh
        width: 100%
        background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/home/arms-around-backs.jpg') no-repeat center center
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
      @media screen and (max-width: 399px)
        max-height: 40vh
        width: 100%
        background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/home/arms-around-backs.jpg') no-repeat center center
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
      .blue
        background-color: rgba(47, 43, 173, .3)
        width: 100%
        height: 300px

    .jumpstart
      .line
        background-color: $lr-blue
        margin-left: 10%
        margin-right: 10%
      h1
        margin-top: 20px
        font-size: 3.6vw
        font-family: $title-font
        color: $lr-blue
        display: inline-block

      .box
        margin-left: 10%
        margin-right: 10%
        margin-bottom: 20px
        .icon-block
          +icon-block

        .blurb
          padding: 30px 10px
          h2
            line-height: 2
            color: $dark-gray
            font-size: 1.8vw
            font-family: $body-font
            margin: 20px 0
          sup
            display: inline-block
            padding: 3px
            color: $dark-gray
            font-size: 1vw
            font-family: $body-font
          h3
            line-height: 2
            color: $dark-gray
            font-size: 1.8vw
            font-family: $body-font
            display: inline

      .access
        +wide-button

    .photo-two
      height: 70vh
      background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/home/quote-pic-large.jpg') no-repeat center center fixed
      -webkit-background-size: cover
      -moz-background-size: cover
      background-size: cover
      @media screen and (min-width: 400px) and (max-width: 1024px)
        max-height: 70vh
        width: 100%
        background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/home/quote-pic-small.jpg') no-repeat center center
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
      @media screen and (max-width: 399px)
        max-height: 50vh
        width: 100%
        background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/home/quote-pic-small.jpg') no-repeat center center
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
      overflow: hidden
      .buffer
        min-height: 60%
        @media screen and (max-width: 1024px)
          min-height: 70%
      .daily-quote
        background-color: rgba(0, 0, 0, .6)
        .quote
          padding: 4%
          margin-left: 16%
          width: 68%
          color: $lr-pink
          font-size: 3vw
          font-family: $body-font
          opacity: 0
          &.enter
            opacity: 1
            transition: all 1.5s ease-in

    .inspiration
      position: relative
      border-radius: 5px
      margin: 2%
      .ceo
        margin-top: 20px
        margin-bottom: 20px
        font-size: 2.2vw
        font-family: $title-font
        color: $dark-gray
      a
        &:hover
          text-decoration: none
        .branded
          border-radius: 5px
          background-color: $lr-blue !important
          +button-shadow
          font-size: 2.7vw
          font-family: $title-font
          padding: 5px
          color: #fff

          &:hover
            cursor: pointer
            background-color: $lr-gray !important
            +button-shadow
            color: $lr-blue
            letter-spacing: 3px
            transition: all 1s ease-in
      .headshot
        position: relative
        z-index: -1
        img
          width: 28vw
          height: auto

      .blog
        margin-right: 20px
        margin-top: 20px
        padding-right: 20px
        padding-left: 20px
      .blog-photo
        margin-top: 20px
        img
          border-radius: 5px
          width: 25vw
          height: auto
      .blog-text
        h1
          color: $lr-blue
          font-size: 3vw
          font-family: $title-font
          margin-bottom: 40px
          margin-top: 40px
        p
          margin-top: 20px
          color: $dark-gray
          line-height: 1.5
          font-size: 1.4vw
          font-family: $body-font
        em
          margin-top: 20px
          margin-bottom: 30px
          line-height: 1.3
          font-size: 1.5vw
          font-family: $body-font
          color: $dark-gray
          font-weight: bold

    .photo-three
      height: 400px
      background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/home/inspirational-resources-photo.jpg') no-repeat center center fixed
      background-size: cover
      -webkit-background-size: cover
      -moz-background-size: cover
      @media screen and (min-width: 400px) and (max-width: 1024px)
        max-height: 70vh
        width: 100%
        background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/home/inspirational-resources-photo.jpg') no-repeat center center
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
      @media screen and (max-width: 399px)
        max-height: 70vh
        width: 100%
        background-image: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/home/mobile/inspirational-resources-mobile.jpg')
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover

    .shop
      position: relative
      .line
        margin: 40px 50px
      .title
        font-size: 3.2vw
        font-family: $title-font
      .subscribe
        background-color: $lr-blue !important
        +button-shadow
        color: #fff
        margin-left: 20px
        margin-top: 20%
        width: 90%
        padding: 5px
        border-radius: 5px
        font-size: 3vw
        font-family: $title-font
        &:hover
          cursor: pointer
          letter-spacing: 3px
          transition: all 1s ease-in

      .inspo
        font-size: 2vw
        line-height: 1.5
        color: $dark-gray
        font-family: $body-font
        &.first
          margin-top: 20%
        &.second
          margin-top: 20px

      .buffer
        height: 40px


  .event-page
    display: none
    .events
      iframe
        margin-top: 10%
        height: 100vh

  .consulting-page
    display: none
    .consulting
      height: 100vh
      background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/consulting/top-photo.jpg') no-repeat center center fixed
      background-size: cover
      -webkit-background-size: cover
      -moz-background-size: cover
      @media screen and (min-width: 400px) and (max-width: 1024px)
        max-height: 100vh
        width: 100%
        background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/consulting/top-photo.jpg') no-repeat center center
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
      @media screen and (max-width: 399px)
        max-height: 100vh
        width: 100%
        background-image: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/consulting/mobile/top-photo.jpg')
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover

      .consulting-copy
        position: relative
        padding-top: 22vh
        width: 80%
        margin-left: 10%
        font-size: 4vw
        font-family: $title-font
        text-align: center
        color: $lr-blue

    .building

      .picture-block
        margin: 20px
        background-color: black
        border-radius: 5px
        width: 25vw
        height: 20vw
        a
          width: 100%
          height: 100%
          &:hover
            text-decoration: none
          .text-block
            width: 100%
            height: 100%
            color: #fff
            font-size: 1.5vw
            font-family: $body-font
            &:hover
              cursor: pointer
              background-color: rgba(0, 0, 0, .5)
              border-radius: 5px
        &.strategy
          background-image: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/consulting/strategy.jpg')
          background-size: cover
        &.creative
          background-image: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/consulting/creative.jpg')
          background-size: cover
        &.training
          background-image: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/consulting/training.jpg')
          background-size: cover
        .picture-title
          text-align: center
          font-size: 2vw
          color: #fff

      .copy-box
        display: none
        width: 80vw
        margin-top: 20px
        margin-left: 10vw
        border-radius: 5px
        height: auto
        background-color: rgba(0, 0, 0, .5)
        .fa-times
          color: #fff
          margin-left: 90%
          margin-top: 10px
          font-size: 2vw
          &:hover
            cursor: pointer
            color: $lr-blue
        .picture-heading
          text-align: center
          color: $lr-blue
          font-size: 3vw
          font-family: $title-font
          &.strategy-copy
            display: none
          &.creative-copy
            display: none
          &.training-copy
            display: none
        .picture-copy
          width: 80%
          height: 80%
          margin-left: 10%
          padding-top: 10px
          padding-bottom: 30px
          color: #fff
          font-family: $body-font
          font-weight: lighter
          font-size: 2vw
          line-height: 2

    .get-branded
      margin-left: 10%
      width: 80%
      .get-branded-copy
        position: relative
        padding-top: 40px
        padding-bottom: 25px
        width: 80%
        margin-left: 10%
        font-size: 2.8vw
        font-family: $body-font
        text-align: center
        color: $dark-gray
      a
        &:hover
          text-decoration: none
        &:active
          text-decoration: none
        .get-branded-button
          text-align: center
          +wide-button

    .testimonials-photo
      height: 40vh
      background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/consulting/women-at-meeting.jpg') no-repeat center center fixed
      background-size: cover
      -webkit-background-size: cover
      -moz-background-size: cover
      @media screen and (min-width: 400px) and (max-width: 1024px)
        max-height: 40vh
        width: 100%
        background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/consulting/women-at-meeting.jpg') no-repeat top center
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
      @media screen and (max-width: 399px)
        max-height: 40vh
        width: 100%
        background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/consulting/mobile/women-at-meeting-mobile.jpg') no-repeat top center
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
    .testimonials-photo
    .testimonials
      min-height: 325px
      .line
        margin-top: 60px
      .testimonial-quote
        display: none
        color: $dark-gray
        font-size: 2vw
        font-family: $body-font
        text-align: center
        line-height: 2
        width: 80%
        margin-left: 10%
        padding-bottom: 20px

      .quote-by
        margin-top: 20px
        margin-bottom: 20px
        font-size: 1.5vw
        font-family: $body-font
        color: $lr-blue


  .contact-page
    display: none
    //height: 90vh
    .get-branded
      height: 100vh
      width: 100%
      //position: fixed
      background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/contact/woman-window-large.jpg') no-repeat center center fixed
      background-size: cover
      -webkit-background-size: cover
      -moz-background-size: cover
      @media screen and (min-width: 400px) and (max-width: 1024px)
        max-height: 100vh
        width: 100%
        background: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/contact/woman-window-large.jpg') no-repeat center center
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
      @media screen and (max-width: 399px)
        max-height: 100vh
        width: 100%
        background-image: url('https://s3-us-west-1.amazonaws.com/ladyrebranded.com/images/contact/woman-at-window-mobile.jpg')
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover

      .buffer
        height: 30vw
      a
        &:hover
          text-decoration: none
        h1
          width: 35vw
          margin-left: 50vw
          text-align: center
          font-size: 3vw
          font-family: $body-font
          padding: 10px 0
          color: $lr-blue !important
          +button-shadow
          background-color: $lr-gray !important
          border-radius: 5px
          &:hover
            letter-spacing: 3px
            background-color: $lr-blue !important
            +button-shadow
            cursor: pointer
            color: #fff !important
            transition: all 1s ease-in

      h2
        width: 35vw
        margin-left: 50vw
        text-align: center
        font-size: 3vw
        font-family: $title-font
        color: $lr-blue
    .contact-section
      min-height: 30vh
      position: relative
      .contact-form

      .contact-info
        margin-top: 100px
        margin-bottom: 40px
        img
          //margin-left: 5vw
          margin-bottom: 20px
          border-radius: 5px
          width: 40vw
          height: auto
        p
          margin-left: -15%
          text-align: center
          font-size: 1.5vw
          font-family: $body-font
          color: $dark-gray

  footer
    .contact-box
      display: flex
      //align-items: center
      //justify-content: space-around
      position: relative
      background-color: $lr-pink

      .social-lockup
        margin-top: 10px
        margin-bottom: 10px
        a.social
          margin-left: 10px
          display: inline-block
          position: relative
          width: 4vw
          height: 4vw
          &:hover
            cursor: pointer
          .fa-circle
            color: $lr-blue
            font-size: 4vw
          .top
            padding-top: .8vw
            color: $lr-gray
            font-size: 1.5vw
            &:hover
              color: #fff

        img
          width: 60%

        a.subscribe
          float: right
          font-size: 2.2vw
          margin-top: 15px
          padding: 8px 22px
          font-family: $title-font
          text-align: center
          background-color: $lr-blue !important
          +button-shadow
          color: #fff
          border-radius: 5px
          &:hover
            color: $lr-blue
            background-color: $lr-gray !important
            +button-shadow
            cursor: pointer
            letter-spacing: 2px
            transition: all 1s ease-in
            text-decoration: none

//Mailer Lite-----HMTL CODE

.contact-form
  margin-left: 30%
  margin-top: 40px
  margin-bottom: 40px
  #mlb2-5239509,
  #mlb2-5239509 *,
  #mlb2-5239509 a:hover,
  #mlb2-5239509 a:visited,
  #mlb2-5239509 a:focus,
  #mlb2-5239509 a:active
      overflow: visible
      position: static
      background: none
      border: none
      bottom: auto
      clear: none
      cursor: default
      float: none
      letter-spacing: normal
      line-height: normal
      text-align: left
      text-indent: 0
      text-transform: none
      visibility: visible
      white-space: normal
      max-height: none
      max-width: none
      left: auto
      min-height: 0
      min-width: 0
      right: auto
      top: auto
      width: auto
      z-index: auto
      text-shadow: none
      box-shadow: none
      outline: medium none


  #mlb2-5239509 a:hover
      cursor: pointer !important


  #mlb2-5239509 h4
      font-weight: normal


  #mlb2-5239509 .subscribe-form
      padding: 20px
      width: 350px !important
      border: 2px solid #F6F6F6 !important
      background: #f6f6f6 none !important
      border-radius: 0px !important
      box-sizing: border-box !important

  #mlb2-5239509 .ml-block-form
      margin-bottom: 0px


  #mlb2-5239509 .subscribe-form .form-section
      margin-bottom: 20px
      width: 100%


  #mlb2-5239509 .subscribe-form .form-section.mb10
      margin-bottom: 10px
      float: left


  #mlb2-5239509 .subscribe-form .form-section.mb0
      margin-bottom: 0px


  #mlb2-5239509 .subscribe-form .form-section h4
      margin: 0px 0px 10px 0px !important
      padding: 0px !important
      color: #2f2bad !important
      font-family: 'Futura', sans-serif !important
      font-size: 2.9vw !important
      line-height: 100%
      text-align: left !important


  #mlb2-5239509 .subscribe-form .form-section p
  #mlb2-5239509 .subscribe-form .form-section li
      line-height: 150%
      padding: 0px !important
      margin: 0px 0px 10px 0px
      color: $dark-gray !important
      font-family: 'futura', sans-serif !important
      font-size: 2vw !important

  #mlb2-5239509 .subscribe-form .form-section a
      font-size: 2vw !important

  #mlb2-5239509 .subscribe-form .form-section .confirmation_checkbox
      line-height: 150%
      padding: 0px !important
      margin: 0px 0px 15px 0px !important
      color: #2f2bad !important
      font-family: $body-font, sans-serif !important
      font-size: 12px !important
      font-weight: normal !important


  #mlb2-5239509 .subscribe-form .form-section .confirmation_checkbox input[type="checkbox"]
      margin-right: 5px !important


  #mlb2-5239509 .subscribe-form .form-section .form-group
      margin-bottom: 15px


  #mlb2-5239509 .subscribe-form .form-section .form-group label
      float: left
      margin-bottom: 10px
      width: 100%
      line-height: 100%
      font-weight: bold
      color: $dark-gray !important
      font-family: $body-font, sans-serif !important
      font-size: 14px !important


  #mlb2-5239509 .subscribe-form .form-section .checkbox
      width: 100%
      margin: 0px 0px 10px 0px


  #mlb2-5239509 .subscribe-form .form-section .checkbox label
      color: #505757 !important
      font-family: $body-font, sans-serif !important
      font-size: 14px !important


  #mlb2-5239509 .subscribe-form .form-section .checkbox input
      margin: 0px 5px 0px 0px


  #mlb2-5239509 .subscribe-form .form-section .checkbox input[type=checkbox]
      -webkit-appearance: checkbox


  #mlb2-5239509.ml-subscribe-form .form-group .form-control
      width: 100%
      font-size: 13px
      padding: 10px 10px
      height: auto
      font-family: $body-font
      border-radius: 5px
      border: 1px solid #cccccc !important
      color: #000000 !important
      background-color: #FFFFFF !important
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      clear: left


  #mlb2-5239509.ml-subscribe-form button
      border: none !important
      cursor: pointer !important
      width: 100% !important
      border-radius: 5px !important
      height: 40px !important
      background-color: #2f2bad !important
      color: #FFFFFF !important
      font-family: $body-font, sans-serif !important
      font-size: 16px !important
      text-align: center !important
      padding: 0 !important


  #mlb2-5239509.ml-subscribe-form button.gradient-on
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
      background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)


  #mlb2-5239509.ml-subscribe-form button.gradient-on:hover
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%)
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%)
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%)
      background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%)


  #mlb2-5239509.ml-subscribe-form button[disabled]
      cursor: not-allowed!important


  #mlb2-5239509.ml-subscribe-form .form-section.ml-error label
      color: $lr-pink!important


  #mlb2-5239509.ml-subscribe-form .form-group.ml-error label
      color: $lr-pink!important


  #mlb2-5239509.ml-subscribe-form .form-group.ml-error .form-control
      border-color: $lr-pink!important


  @media (max-width: 768px)
      #mlb2-5239509
          width: 100% !important

      #mlb2-5239509 form.ml-block-form,
      #mlb2-5239509 .subscribe-form
          width: 100% !important

//subscribe embed form-group

#mlb2-5249483
  display: none
  overflow: visible
  position: relative
  text-align: left
  margin-left: 6vw
  margin-top: 10vh
  width: auto
  z-index: 2
  outline: medium none

  a:hover
    cursor: pointer !important

  h4
    font-weight: normal

  .subscribe-form
    padding: 20px
    width: 350px !important
    border: 2px solid #F6F6F6 !important
    background: #f6f6f6 none !important
    border-radius: 5px !important
    box-sizing: border-box !important

  .ml-block-form
    margin-bottom: 0px

  .subscribe-form .form-section
    margin-bottom: 20px
    width: 100%

  .subscribe-form .form-section.mb0
    margin-bottom: 0px

  .mb10
    margin-bottom: 10px
    float: left
    h4
      margin: 0px 0px 10px 0px !important
      padding: 0px !important
      color: #2f2bad !important
      font-family: $body-font, sans-serif !important
      font-size: 24px !important
      line-height: 100%
      text-align: center !important

  .subscribe-form .form-section p,
  .subscribe-form .form-section li
    line-height: 150%
    padding: 0px !important
    margin: 0px 0px 10px 0px
    color: $dark-gray !important
    font-family: $body-font, sans-serif !important
    font-size: 14px !important

  .subscribe-form .form-section a
    font-size: 14px !important

  .subscribe-form .form-section .confirmation_checkbox
    line-height: 150%
    padding: 0px !important
    margin: 0px 0px 15px 0px !important
    color: #2f2bad !important
    font-family: $body-font, sans-serif !important
    font-size: 12px !important
    font-weight: normal !important

  .subscribe-form .form-section .confirmation_checkbox input[type="checkbox"]
    margin-right: 5px !important

  .subscribe-form .form-section .form-group
    margin-bottom: 15px

  .subscribe-form .form-section .form-group label
    float: left
    margin-bottom: 10px
    width: 100%
    line-height: 100%
    font-weight: bold
    color: #505757 !important
    font-family: $body-font, sans-serif !important
    font-size: 14px !important


  .subscribe-form .form-section .checkbox
      width: 100%
      margin: 0px 0px 10px 0px


  .subscribe-form .form-section .checkbox label
      color: #505757 !important
      font-family: 'Open Sans', sans-serif !important
      font-size: 14px !important


  .subscribe-form .form-section .checkbox input
      margin: 0px 5px 0px 0px

  .subscribe-form .form-section .checkbox input[type=checkbox]
      -webkit-appearance: checkbox

  .ml-subscribe-form .form-group .form-control
      width: 100%
      font-size: 13px
      padding: 10px 10px
      height: auto
      font-family: $body-font
      border-radius: 5px
      border: 1px solid #cccccc !important
      color: #000000 !important
      background-color: #FFFFFF !important
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      clear: left

  button
    border: none !important
    cursor: pointer !important
    width: 100% !important
    border-radius: 5px !important
    height: 40px !important
    background-color: #2f2bad !important
    color: #FFFFFF !important
    font-family: $body-font, sans-serif !important
    font-size: 16px !important
    text-align: center !important
    padding: 0 !important
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
    background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
    &:hover
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%)
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%)
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%)
      background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%)
      letter-spacing: 3px
      transition: all 1s ease-in

  button[disabled]
      cursor: not-allowed!important

  .ml-subscribe-form .form-section.ml-error label
      color: $lr-pink!important

  .ml-subscribe-form .form-group.ml-error label
      color: $lr-pink!important

  .ml-subscribe-form .form-group.ml-error .form-control
      border-color: $lr-pink!important


  @media (max-width: 768px)
      #mlb2-5249483
          width: 100% !important

      #mlb2-5249483 form.ml-block-form,
      #mlb2-5249483 .subscribe-form
          width: 100% !important

//Get Access Form

#mlb2-5250485
  display: none
  justify-content: space-around
  overflow: visible
  outline: medium none
  //margin-left: 25vw

  a:hover
    cursor: pointer !important

  h4
    font-weight: normal

  .subscribe-form
    padding: 20px
    width: 350px !important
    border: 2px solid #F6F6F6 !important
    background: #f6f6f6 none !important
    border-radius: 0px !important
    box-sizing: border-box !important
    .form-section
      margin-bottom: 20px
      width: 100%
      .mb10
        margin-bottom: 10px
        float: left
      h4
        margin: 0px 0px 10px 0px !important
        padding: 0px !important
        color: #2f2bad !important
        font-family: $body-font, sans-serif !important
        font-size: 28px !important
        line-height: 100%
        text-align: left !important

      p, li
        line-height: 150%
        padding: 0px !important
        margin: 0px 0px 10px 0px
        color: #505757 !important
        font-family: $body-font, sans-serif !important
        font-size: 14px !important

      a
        font-size: 14px !important

      .confirmation_checkbox
        line-height: 150%
        padding: 0px !important
        margin: 0px 0px 15px 0px !important
        color: #2f2bad !important
        font-family: 'Open Sans', sans-serif !important
        font-size: 12px !important
        font-weight: normal !important
        input[type="checkbox"]
          margin-right: 5px !important
      .form-group
        margin-bottom: 15px
        label
          float: left
          margin-bottom: 10px
          width: 100%
          line-height: 100%
          font-weight: bold
          color: #505757 !important
          font-family: $body-font, sans-serif !important
          font-size: 14px !important

    .subscribe-form .form-section .checkbox
      width: 100%
      margin: 0px 0px 10px 0px

    .subscribe-form .form-section .checkbox label
      color: #505757 !important
      font-family: $body-font, sans-serif !important
      font-size: 14px !important

    .subscribe-form .form-section .checkbox input
      margin: 0px 5px 0px 0px

    .subscribe-form .form-section .checkbox input[type=checkbox]
      -webkit-appearance: checkbox

    .ml-subscribe-form .form-group .form-control
      width: 100%
      font-size: 13px
      padding: 10px 10px
      height: auto
      font-family: $body-font
      border-radius: 5px
      border: 1px solid #cccccc !important
      color: #000000 !important
      background-color: #FFFFFF !important
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      clear: left


  button
    border: none !important
    cursor: pointer !important
    width: 100% !important
    border-radius: 5px !important
    height: 40px !important
    background-color: #2f2bad !important
    color: #FFFFFF !important
    font-family: $body-font, sans-serif !important
    font-size: 16px !important
    text-align: center !important
    padding: 0 !important
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
    background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%)
    &:hover
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%)
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%)
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%)
      background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%)

    .ml-subscribe-form button[disabled]
        cursor: not-allowed!important

    .ml-subscribe-form .form-section.ml-error label
        color: $lr-pink!important

    .ml-subscribe-form .form-group.ml-error label
        color: $lr-pink!important

    .ml-subscribe-form .form-group.ml-error .form-control
        border-color: $lr-pink!important

  @media (max-width: 768px)
    #mlb2-5250485
        width: 100% !important

    #mlb2-5250485 form.ml-block-form,
    #mlb2-5250485 .subscribe-form
        width: 100% !important
